/*Positioning details for container div*/
.contain-eyes {
  margin: 60px auto;
  width: 255px;
}
.spell-checker{
  padding-bottom: 100px;
}
.outer-eye {
  /*Positioning*/
  position: relative;
  display: inline-block;
  /*Styling*/ 
  background: white;
  border-radius: 50%;
  /*Size*/
  width: 100px;
  height: 100px;
}

.outer-eye-2 {
  left: 50px;
}

.inner-eye {
  /*Positioning*/ 
  position: absolute;
  top: 50px;
  left: 45px;
  /*Styling*/
  background: #4056f4;
  border-radius: 50%;
  /*Size*/
  width: 35px;
  height: 35px;
  /*Assigns animation*/ 
  animation: shifty 3s infinite;
}
h1{
  font-size: 72px;
  font-weight: 700;
  color: #fff;
}
.correct {
  border: 2px solid green;
}
.correct:focus{
  box-shadow: 0 0 0 0.25rem rgb(49 233 129);
}
label {
  font-size: 32px;
  color: #fff;
  margin-bottom: 10px;
}
.st-fld input {
  display: block;
  width: 50%;
  height: 65px;
  font-size: 24px;
  font-weight: 500;
}
button{
  position: relative;
  height: 65px;
  width: 210px;
  margin: 0 40px;
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  transition: 0.6s;
}
button:first-child{
  color: #31e981;
  border-color: #31e981;
}
button:last-child{
  color: #fbc823;
  border-color: #fbc823;
}
button:before, button:after{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  filter: blur(30px);
  opacity: 0.4;
  transition: 0.6s;
}
button:before{
  width: 60px;
  background: rgba(255,255,255,0.6);
  transform: translateX(-130px) skewX(-45deg);
}
button:after{
  width: 30px;
  background: rgba(255,255,255,0.6);
  transform: translateX(-130px) skewX(-45deg);
}
button:hover:before,
button:hover:after{
  opacity: 0.6;
  transform: translateX(320px) skewX(-45deg);
}
button:hover{
  color: #f2f2f2;
}
button:hover:first-child{
  background: #31e981;
}
button:hover:last-child{
  background: #fbc823;
}
/*Begin animation details*/
@keyframes shifty {
  50% {
    /*Moves pupils to left, change number to see what happens*/
    transform: translateX(-25px);
  }
  75% {
    /*Moves pupils right and up, change numbers to see what happens*/
    transform: translateY(-30px) translateX(-10px);
  }
}